.App {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
